.solutions {
    @include mq($bpMedium) {
        padding: 2rem 2rem 5rem 2rem;
    }
    &-title {
        padding-bottom: 3.8rem;
    }
    &__text {
        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }
    }
    &__items {
        row-gap: 15rem;
        width: 90rem;
        margin: 0 auto;
        @include mq($bpMedium) {
            width: auto;
            row-gap: 5rem;
        }
    }
    &__item {
        grid-template-rows: auto 1fr auto;
        &:not(:last-of-type) {
            width: 40rem;
            @include mq($bpMedium) {
                width: auto;
            }
        }
        &-title {
            display: flex;
            align-items: flex-end;
            font-size: 2.6rem;
            &--sm {
                font-size: 2rem;
            }
        }
        &--long {
            position: relative;
            text-align: initial;
            &::before {
                content: '';
                position: absolute;
                background-color: $blue;
                height: 30.8rem;
                width: 1.3rem;
                right: -5rem;
                bottom: -7rem;
                @include mq($bpMedium) {
                    display: none;
                }
            }
        }
    }
}