$white: #fff;
$black: #000;
$secondary-color: #49C5B1;
$btn-header: #52F2D8;
$blue: #1FAFD5;
$soft-blue: #70C6F1;
$pink: #FF89FF;
$soft-pink: #FEA6FE;
$text: #6E6F71;
$text-dark: #272727;
//fonts
$primary-font: 'Roboto',
sans-serif;
$secondary-font: 'Open Sans',
sans-serif;
$tertiary-font: 'Abril Fatface',
cursive;
//breakpoint
$bpLarge: 106.25em; //1700px
$bpBig: 81.25em; //1300
$bpMedium: 60em; //960px
$bpSmall: 30em; //480px
$bpXSmall: 21.875em; //350px
//
@mixin mq-min($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content
    }
}

@mixin mq($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

::selection {
    background-color: rgba(95, 107, 218, 0.4);
    color: $white;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: $secondary-font;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    object-fit: cover;
    width: 100%;
}

textarea {
    resize: none;
}